@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

.side-header {
  text-align: left;
  padding-left: 4rem;
  margin-bottom: 20px;
  font-size: 32px;
}

.search-city {
  width: 80% !important;
}

.search-icon {
  fill: white;
  color: white;
  border: none;
}

.search-box {
  margin-left: 1rem;
  padding-right: 1rem;
  width: 15%;
  text-align: center;
}

.search-box:hover {
  background-color: white;
}

.search-box:hover .search-icon {
  color: #CEDC00;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin: 40px;
  border-radius: 4px;
  border-top-width: 4px !important;
  border-bottom-width: 4px !important;
  border-right-width: 4px !important;
  border-left-width: 4px !important;
  border: black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover.train-select {
  color: #256C2F;
}

.sidenav a:hover.gobus-select {
  color: #0025A9;
}

.sidenav a:hover.streetcar-select {
  color: #F44336;
}

.sidenav a:hover.subway-select {
  color: #CEDC00;
}

.sidenav a:hover.bus-select {
  color: #B80084;
}

a:hover.closebtn {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}