@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

:root {
  --green-gotrain: #4a7729;
  --blue-subway: #2F5DFF;
  --red-streetcar: #FF292F;
  --yellow-via: #FFCC00;
  --purple-bus: #A21A69;
  --black-box: rgb(0, 0, 0, 0.7)
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sulphur Point', sans-serif;
  font-weight: 500;
  margin: 0;
}

img {
  object-fit: contain;
}

div {
  box-sizing: border-box;
}

.main-container {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.side-menu-container {
  display: block;
  max-height: calc(90% - 2rem);
  background-color: var(--black-box);
  position: relative;
  top: 0;
  padding: 2rem;
  color: white;
  width: max-content;
}

.logo {
  width: 6rem;
  display: block;
  position: absolute;
  bottom: 2rem;
  right: 50%;
  left: calc(50% - 3rem);
}

.side-menu-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-menu-divider {
  color: white;
  border-width: 1px;
  border-style: solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.side-menu-header {
  display: block;
  margin-right: 1rem;
}

.side-menu-button {
  display: block;
  height: 2rem;
  margin-right: 0;
  margin-left: auto;
}

.map {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
}

.controls {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.transit-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transit-box:not(:first-child) {
  margin-top: 1rem;
}

.transit-header {
  display: block;
  margin-left: 1rem;
}

.transit-icon {
  height: 100%;
  width: 100%;
}

.transit-icon-container {
  display: flex;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
  border-width: 2px !important;
  border-style: solid !important;
}

.inactive {
  background-color: transparent !important;
}

.side-menu-options {
  display: flex;
  flex-direction: column;
}

.side-menu-active-transit {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.side-menu-active-transit .transit-icon-container:not(:first-child) {
  margin-left: 1rem;
}

.gotrain {
  background-color: var(--green-gotrain);
  border: var(--green-gotrain);
}

.via {
  background-color: var(--yellow-via);
  border: var(--yellow-via);
}

.streetcar {
  background-color: var(--red-streetcar);
  border: var(--red-streetcar);
}

.subway {
  background-color: var(--blue-subway);
  border: var(--blue-subway);
}

.bus {
  background-color: var(--purple-bus);
  border: var(--purple-bus);
}